/* --------------bullet start--------------- */


.section02 .bullet-container{
    width: 30px;
    height: auto;
    position: fixed;
    right: 60px;
    top: 40%;
    z-index: 999;
    display: none;
 }
 
 .section02 .bullet01{
    float: right;
    width: 110px;
    height: 50px;
 }
 
 
 .section02 .bullet01 > button{
    width: 10px;
    height: 10px;
    margin: 20px 0;
    background: #000;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    float: right;
 }
 
 .section02 .bullet01 > a{
    position: absolute;
    width: 100px;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    display: none;
    z-index: 10;
 }
 
 .section02 .bullet-container .right-bullet .bullet01 > button:hover{
    width: 16px;
    height: 16px;
    border-radius: 100%;
 }
 
 .section02 .bullet-container .right-bullet .bullet01:hover a{
    display: block;
 }
 
 .section02 .bullet02{
    float: right;
    width: 110px;
    height: 50px;
 }
 
 
 .section02 .bullet02 > button{
    width: 10px;
    height: 10px;
    margin: 20px 0;
    background: #000;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    float: right;
 }
 
 .section02 .bullet02 > a{
    position: absolute;
    width: 100px;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    display: none;
 }
 
 .section02 .bullet-container .right-bullet .bullet02 > button:hover{
    width: 16px;
    height: 16px;
    border-radius: 100%;
 }
 
 .section02 .bullet-container .right-bullet .bullet02:hover a{
    display: block;
 }
 
 .section02 .bullet03{
    float: right;
    width: 110px;
    height: 50px;
 }
 
 
 .section02 .bullet03 > button{
    width: 10px;
    height: 10px;
    margin: 20px 0;
    background: #000;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    float: right;
 }
 
 .section02 .bullet03 > a{
    position: absolute;
    width: 100px;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    /* display: none; */
 }
 
 .section02 .bullet-container .right-bullet .bullet03 > button:hover{
    width: 16px;
    height: 16px;
    border-radius: 100%;
 }
 
 .section02 .bullet-container .right-bullet .bullet03:hover a{
    display: block;
 }
 
 .section02 .bullet04{
    float: right;
    width: 110px;
    height: 50px;
 }
 
 
 .section02 .bullet04 > button{
    width: 10px;
    height: 10px;
    margin: 20px 0;
    background: #000;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    float: right;
 }
 
 .section02 .bullet04 > a{
    position: absolute;
    width: 100px;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    display: none;
 }
 
 .section02 .bullet-container .right-bullet .bullet04 > button:hover{
    width: 16px;
    height: 16px;
    border-radius: 100%;
 }
 
 .section02 .bullet-container .right-bullet .bullet04:hover a{
    display: block;
 }
 
 .section02 .bullet05{
    float: right;
    width: 110px;
    height: 50px;
 }
 
 
 .section02 .bullet05 > button{
    width: 10px;
    height: 10px;
    margin: 20px 0;
    background: #000;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    float: right;
 }
 
 .section02 .bullet05 > a{
    position: absolute;
    width: 100px;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    display: none;
 }
 
 .section02 .bullet-container .right-bullet .bullet05 > button:hover{
    width: 16px;
    height: 16px;
    border-radius: 100%;
 }
 
 .section02 .bullet-container .right-bullet .bullet05:hover a{
    display: block;
 }
 
 /*---------------- bullet end----------------- */